/* custom-gaia.css */
/* @theme custom-gaia */

@import 'gaia';

section {
  /* Override default background */
  background: #FEF7E0;
}

th.second-header {background-color: #7393B3	;}

div {
  text-align: center;
  font-size: 0.4em;
  margin-top: 3px;
}
